<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.uestc.translator"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" /> 

    <application
        android:name="org.uestc.translator.AppContext"
        android:allowBackup="true"
        android:icon="@drawable/translator"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND" >
		  <intent-filter>
		    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
		    <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
		    <category android:name="org.uestc.translator" />
		  </intent-filter>
		</receiver>
        <activity
            android:name="org.uestc.translator.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.uestc.translator.DicActivity"
            android:label="@string/title_activity_dic" >
        </activity>
        <activity
            android:name="org.uestc.translator.HistoryActivity"
            android:label="@string/title_activity_history" >
        </activity>
        <activity
            android:name="org.uestc.translator.NewWordActivity"
            android:label="@string/title_activity_new_word" >
        </activity>
        <activity
            android:name="org.uestc.translator.DicSpinnerActivity"
            android:label="@string/title_activity_dic_spinner" >
        </activity>
        <activity
            android:name="org.uestc.translator.BottomMenu"
            android:label="@string/title_activity_bottom_menu" >
        </activity>
        <activity
            android:name="org.uestc.translator.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="org.uestc.translator.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="org.uestc.translator.QueryActivity"
            android:label="@string/title_activity_query"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="org.uestc.translator.AddNewWordActivity"
            android:label="@string/title_activity_add_new_word"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="org.uestc.translator.DeleteWordActivity"
            android:label="@string/title_activity_delete_word"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="org.uestc.translator.RegingActivity"
            android:label="@string/title_activity_reging"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="org.uestc.translator.LoginingActivity"
            android:label="@string/title_activity_logining"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
    </application>

</manifest>